.title{
	text-align: center;
	font-family: "Comfortaa";
	font-size: 500%;
	color: #fff;
}

.slogan{
	text-align: center;
	font-family: "PT Mono";
	font-size: 150%;
	text-transform: uppercase;
	color: #fff;
}

.survey-button{
	text-align: center;
	font-family: "PT Mono";
	font-size: 120%;
	text-transform: uppercase;
}

.subtitle{
	text-align: center;
	font-family: "Comfortaa";
	font-size: 200%;
	font-weight: bold;
}

.survey-container{
	width: 50%;
	margin-left: 25%;
	text-align: center;
}